<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Degree Category</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                        <li class="breadcrumb-item active">Degree Category</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    {{> home/formMsgs }}
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-6">
                    {{!-- {{universities}} --}}

                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Degree Categories</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    {{!-- <th style="width: 10px">#</th> --}}
                                    <th>Category</th>
                                    <th>Registered at</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each degreeCategories}}
                                    <tr>
                                        {{!-- <td>1.</td> --}}
                                        <td>{{name}}</td>
                                        <td>{{registeredDate}}</td>
                                        <td><span class="badge bg-danger"><a href="/admin/degreeCategory/delete/{{id}}">Delete</a></span></td>
                                        <td><span class="badge bg-success"><a href="/admin/degreeCategory/edit/{{id}}">Edit</a></span></td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Degree Category</h3>

                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" action="/admin/degreeCategory/addCategory" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="categoryName">Category Name (e.g BS)</label>
                                    <input required type="text" class="form-control" id="categoryName" placeholder="Category Name" name="name">
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>