<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="/home/images/banner/uom1.jpg">
    <div class="container">
        <div class="hero-slider">
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Your bright future is our mission</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Get admission in Pakistan’s top ranked universities with us.
                        </p>
                        <a href="/internationalPrograms" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply Now</a>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Your bright future is our mission</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">Get admission in Pakistan’s top ranked universities with us.</p>
                        <a href="/internationalPrograms" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Apply now</a>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Your bright future is our mission</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">Get admission in Pakistan’s top ranked universities with us.</p>
                        <a href="/internationalPrograms" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Apply now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /hero slider -->

<!-- banner-feature -->
<section class="bg-gray">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 align-self-end">
                <img class="img-fluid w-100" src="/home/images/banner/banner-feature.png" alt="banner-feature">
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="row feature-blocks bg-gray justify-content-between">
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>

                        <h3 class="mb-xl-4 mb-lg-3 mb-4"> <a href="/internationalPrograms">Plan Your Studies</a></h3>
                        <p>
                            A great way to get an admission in your dream university. Just follow steps to get an admission remotely,
                            Search program, select the program of your dream university, apply against that program and get an admission.
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-blackboard mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4"><a href="/about">Privacy</a></h3>
                        <p>
                            Your data privacy is our first and utmost priority. Your privacy is our achievement. Trust is the only tool
                            to make a place in the heart of the mankind.
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-agenda mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4"><a href="/about">Our Achievements</a></h3>
                        <p>
                            We provide a diverse system across the Pakistan to get an admission in the best university of Pakistan.
                            A step to make lead a digital Pakistan. We are excited to provide the great opportunities all across the Country.
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-write mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4"><a href="/internationalPrograms">Admission Now</a></h3>
                        <p>Are you looking for a suitable Bachelor&#39;s or Master&#39;s program? The new Student Assistencia service
                            helps you to find a study program among over thousand courses in Pakistan based on your academic
                            background and interests. Check your entrance qualification and contact your favourite university.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /banner-feature -->

<!-- about us -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <h2 class="section-title">About StudentAssistencia</h2>
                <p>We, at student assistencia provides you a platform where you could find all the information regarding
                    university admissions, scholarships and city life.
                    For more information, kindly contact us. </p>

                <a href="/about" class="btn btn-primary-outline">Learn more</a>
            </div>
            <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
                <img class="img-fluid w-100" src="/home/images/about/about-us.jpg" alt="about image">
            </div>
        </div>
    </div>
</section>
<!-- /about us -->

<!-- courses -->
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">Our Stack</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                </div>
            </div>
        </div>
        <!-- course list -->
        <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="program">
                    <img class="program-logo" src="/home/images/programs.png" alt="" width="150" height="150">
                    <div class="program-text">
                        <a href="/internationalPrograms">Programs</a>
                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="program">
                    <img class="program-logo" src="/home/images/sch.png" alt="" width="150" height="150">
                    <div class="program-text">
                        <a href="/scholarships">Scholarships</a>
                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="program">
                    <img class="program-logo" src="/home/images/country.png" alt="" width="150" height="150">
                    <div class="program-text">
                        <a href="">Country Information</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /course list -->
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="/internationalPrograms" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
            </div>
        </div>
    </div>
</section>
<!-- /courses -->

<!-- success story -->
<section class="section bg-cover" data-background="/home/images/backgrounds/success-story.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-4 position-relative success-video">
                <a class="play-btn venobox" href="https://youtu.be/nA1Aqp0sPQo" data-vbtype="video">
                    <i class="ti-control-play"></i>
                </a>
            </div>
            <div class="col-lg-6 col-sm-8">
                <div class="bg-white p-5">
                    <h2 class="section-title">Our Inspiration</h2>
                    <p>student Assistencia is the Pakistan based platform that lead the whole pakistan towards remote admission. A great platform to provide facilities for the student to get an admission in the top ranked university with 100% ease. Just apply search program and look for a dream University and follow the simple steps to get an admission. Our dream is also to bring such a great platform for the brilliant student so that they can make the best use of their time.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /success story -->


<!-- blog -->
<section class="section pt-0 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Latest News</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            {{#each blogs}}
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="/uploads/images/blogs/{{image}}" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">{{created_at}}</li>
                            <!-- author -->
                        </ul>
                        <a href="/blog/{{_id}}">
                            <h4 class="card-title">{{title}}</h4>
                        </a>
                        <p class="card-text">{{description}}</p>
                        <a href="/blog/{{_id}}" class="btn btn-primary btn-sm">read more</a>
                    </div>
                </div>
            </article>
            {{/each}}
        </div>
    </div>
</section>