<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">University Admins</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">University Admins</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    {{> home/formMsgs }}
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Filter</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0" style="overflow: auto; height:30em; width: 100%; white-space: nowrap;">
                            <table class="table table-sm table-responsive-md table-striped table-bordered" >
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>University</th>
                                    <th>Registered at</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each users}}
                                    <tr>
                                        <td>{{email}}</td>
                                        <td>{{username}}</td>
                                        <td>{{universityId.universityName}}</td>
                                        <td>{{registerDate}}</td>
                                        <td><span class="badge bg-danger"><a href="/admin/user/delete/{{id}}">Delete</a></span></td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>