 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">University</h1>
            {{> home/formMsgs }}
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
              <li class="breadcrumb-item active">University</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-md-6">
              {{!-- {{universities}} --}}
              
              <div class="card card-warning">
                <div class="card-header">
                  <h3 class="card-title">All Universities</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        {{!-- <th style="width: 10px">#</th> --}}
                        <th>University</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Province</th>
                      </tr>
                    </thead>
                    <tbody>
                    {{#each universities}}
                      <tr>
                        {{!-- <td>1.</td> --}}
                        <td>{{universityName}}</td>
                        <td>{{addressLine1}}, {{addressLine2}}</td>
                        <td>{{city}}</td>
                        <td>{{province}}</td>
                        <td><span class="badge bg-danger"><a href="/admin/university/delete/{{id}}">Delete</a></span></td>
                        <td><span class="badge bg-success"><a href="/admin/university/edit/{{id}}">Edit</a></span></td>
                      </tr>
                    {{/each}}                      
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit University</h3>
                
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post" action="/admin/university/edit/{{university.id}}">
                <div class="card-body">
                  <input type="hidden" value="{{university.id}}">
                  <div class="form-group">
                    <label for="exampleInputEmail1">University Name</label>
                    <input required type="text" value="{{university.universityName}}" class="form-control" id="universityname" placeholder="Enter University Name" name="universityName">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Address Line 1</label>
                    <input type="text" class="form-control" value="{{university.addressLine1}}" id="addressLine1" name="addressLine1" placeholder="Address Line 1">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Address Line 2</label>
                    <input type="text" class="form-control" value="{{university.addressLine2}}" id="addressLine2" name="addressLine2" placeholder="Address Line 2">
                  </div>
                  <div class="form-group">
                    <label for="cit">City</label>
                    <input type="text" class="form-control" value="{{university.city}}" id="city" name="city" placeholder="City">
                  </div>
                  <div class="form-group">
                    <label for="province">Province</label>
                    <input type="text" class="form-control" value="{{university.province}}" id="province" name="province" placeholder="Province">
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>